body{
  text-align: center;
  background-color: black;
  font-family: verdana;
  color: white;
}

h1{
  font-weight: 300;
  font-size: 42 px;
}

a {
  color: Aquamarine;
  font-size: 16px;
}

p{
  color: gray;
  font-size: 21 px;
}

#header {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

#footer{
  text-align: right;
}
